<div class="bottom">
    <div class="bottom__inner">
        <div class="question">
            <div class="container">
                <div class="question__inner">
                    <div class="question__text">
                        <h2>Intersted to woek<br> with our team?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <a href="#" class="button button-primary">Let’s Talk</a>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer__inner">
                    <div class="footer__contact">
                        <a href="/" class="footer__logo">
                            <img src="img/svg/logo-footer.svg" alt="">
                            <span>Afrianska</span>
                        </a>
                        <div class="footer__info">
                            <div class="footer__contact-item footer__contact-item-address">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                            <a href="tel:+6281273134321" class="footer__contact-item footer__contact-item-phone">+62-812-7313-4321<a>
                            <a href="mailto:hello.afrian@gmail.com" class="footer__contact-item footer__contact-item-mail">hello.afrian@gmail.com</a>
                        </div>
                    </div>
                    <div class="footer__menu">
                        <div class="footer__menu-item">
                            <div class="footer__menu-title">About US</div>
                            <ul>
                                <li><a href="#">About</a> </li>
                                <li><a href="#">What We Do</a> </li>
                                <li><a href="#">Project</a> </li>
                                <li><a href="#">How It Work With Us</a> </li>
                            </ul>
                        </div>
                        <div class="footer__menu-item">
                            <div class="footer__menu-title">Follow US</div>
                            <ul>
                                <li><a href="#">Instagram</a> </li>
                                <li><a href="#">Facebook</a> </li>
                                <li><a href="#">LinkedIn</a> </li>
                                <li><a href="#">Youtube</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright">2019 © Afrianska. All rights reserved.</div>
            </div>
        </footer>
    </div>
</div>
